.card__parent{
    position: relative;
}

.card__image{
    height: 17rem;
}

.card__status{
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: red;
    font-size: 12px;
    padding: .3rem .3rem;
    color: #fff;
    font-size: 14px;
}

.card__location{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 1.5rem;
    height: 1.5rem;
}

.card__text__location{
    width: .8rem;
    height: .8rem;
    margin-right: 5px;
}

.card__loc__icon{
    display: flex;
    align-items: center;
    margin-top: -.5rem;
}

.card__code{
    margin-top: 1rem;
}

.card__address{
    color: gray;
}